input[type=text]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-image: url('searchicon.png');
    border-radius: 50px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 12%;
    background-color: #a8a8a12a;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .fixed {
    position: fixed;
    bottom: 700px;
    right: 5px;
    width: 300px;
    
  }
  
  .fixed2 {
    position: fixed;
    bottom: 680px;
    right: 5px;
    width: 300px;
    
  }